.article {
    padding-top: 30px;
    padding-bottom: 30px;
}

.article__title {
    margin-bottom: 20px;
}

.article__avatar {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 3px solid #f14214;

    @include bp(600px) {
        border-bottom: 2px solid #f14214;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




// .post-list-item {
//     margin: 20px auto 30px;
// }

// .post-list-announce {
//     margin: 10px auto;
//     text-align: justify;
// }

// .post-list-header-link {
//     font-size: 20px;
//     font-family: "Roboto", sans-serif;
//     font-weight: lighter;
//     text-decoration: none;
// }

// .post-list-image {
//     margin: 20px 0;
//     border-bottom: 3px solid #f14214;
// }

// .post-list-image img {
//     vertical-align: bottom;
// }