.sixbox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 65px;
    margin-top: 34px;
    margin-bottom: 130px;
    overflow: hidden;

    @include bp(1000px) {
        column-gap: 40px;
    }

    @include bp(900px) {
        column-gap: 20px;

        .sixbox-wrapper {
            transform: scale(0.9);
        }
    }

    @include bp(800px) {
        .sixbox-wrapper:nth-child(3) {
            display: none;
        }
    }

    @include bp(600px) {
        column-gap: 0px;

        .sixbox-wrapper {
            transform: scale(0.8);
        }
    }

    @include bp(500px) {
        flex-direction: column-reverse;
        margin-top: -34px;
        margin-bottom: 50px;
    }
}

.sixbox-wrapper {
    border: 0px dashed gray;

    position: relative;
    overflow: visible;
    width: 196px;
    height: 253px;
    flex-shrink: 0;
}

.sixbox__block {
    position: absolute;

    &--question {
        top: -51px;
        left: -111px;
        width: 363px;
        height: 330px;
        background: url('/images/sixbox_question.png') no-repeat 10px 20px;
    }

    &--form {
        top: -48px;
        left: -11px;
        width: 213px;
        height: 330px;
        background: url('/images/sixbox_form.png') no-repeat;
    }


    &--blog {
        top: -46px;
        left: -60px;
        width: 361px;
        height: 330px;
        background: url('/images/sixbox_blog.png') no-repeat 10px -10px;
    }


    &--form.hovered {
        // width: 213px;
        // background-position: 100% 100%;
    }
}

.sixbox__text,
a.sixbox__text {
    position: absolute;
    color: #ffffff;
    font-size: 26px;
    font-family: 'robofanregular';
    text-align: center;
    width: 200px;
    display: block;
    text-decoration: none;
    height: 70px;
    padding-top: 130px;
}

.sixbox__text span {
    font-size: 14px;
    display: block;
}


.sixbox__block--question .sixbox__text {
    top: 50px;
    left: 110px;
}


.sixbox__block--form .sixbox__text {
    top: 50px;
    left: 10px;
    color: #333333;
}


.sixbox__block--blog .sixbox__text {
    top: 50px;
    left: 58px;
}