.main-section__container {
    width: 940px;
    margin: 0 auto;
    padding: 0 30px;
}

.main-section--index-map {
    background: url('/images/main_map.png') no-repeat 50% -80px;
}

.zhd {
    height: 310px;
    position: relative;
}

.zhd__big {
    padding: 0;
    margin: 0;
    /* text-indent: -9999px; */
    /* background: url("/images/zhd.png") no-repeat; */
    font-size: 88px;
    font-family: 'robofanregular';
    width: 700px;
    height: 86px;
    position: absolute;
    left: 152px;
    top: 85px;
    color: #000000;
}

.zhd__neg {
    position: absolute;
    top: 180px;
    left: 150px;
    /* text-indent: -9999px; */
    /* background: url("/images/zhd_n.png") no-repeat; */
    width: 265px;
    height: 24px;
    font-family: 'robofanregular';
    font-size: 25px;
    color: #f14214;
    text-decoration: none;
}

.zhd__neg:hover {
    border-bottom: 2px solid #f14214;
}

.zhd__rf {
    position: absolute;
    top: 180px;
    left: 416px;
    /* text-indent: -9999px; */
    /* background: url("/images/zhd_rf.png") no-repeat; */
    width: 374px;
    height: 24px;
    font-family: 'robofanregular';
    font-size: 25px;
    color: #afafaf;
}

.index-submap {
    width: 100%;
    height: 96px;
    background: url('/images/main_map_under.png') no-repeat 50% 0;
}

.index-submap--nobg {
    background: none;
}

.arrow-bar {
    position: relative;

}

.arrow-bar__arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    margin-left: -23px;
    top: -23px;
    background: url('/images/circle_down_sprite.png') no-repeat 0 0;
    cursor: pointer;
}

.arrow-bar__arrow:hover {
    cursor: pointer;
}

.index-submap__arrow--up {
    background: url('/images/circle_up_sprite.png') no-repeat 0 0;
}

.main-section__container--inhider {
    display: none;
}

.main-section__container--center {
    text-align: center;
}


.main-section__container--page {
    margin-top: 30px;
    min-height: 300px;
}

.main-section__container--aside {
    overflow: hidden;
}