.post-list-item {
    margin: 20px auto 30px;
}

.post-list-announce {
    margin: 10px auto;
    text-align: justify;
}

.post-list-header-link {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

.post-list-image {
    margin: 20px 0;
    border-bottom: 3px solid #f14214;
}

.post-list-image img {
    vertical-align: bottom;
}

.post-image {
    margin: 20px 0;
    border-bottom: 3px solid #f14214;
}

.post-image img {
    vertical-align: bottom;
}