.zhd {
    height: 310px;
    // position: relative;
    font-family: 'robofanregular';
    line-height: 1;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
}

.zhd__big {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 88px;
    color: #000000;

    @include bp(800px) {
        font-size: 76px;
    }

    @include bp(600px) {
        font-size: 64px;
    }

    @include bp(380px) {
        font-size: 52px;
    }
}

.zhd__row {
    display: block;
    margin-top: 9px;
    font-size: 24px;
    line-height: 1.08;

    @include bp(800px) {
        font-size: 22px;
    }

    @include bp(600px) {
        font-size: 18px;
    }
}

.zhd__accent {
    color: #f14214;
    text-decoration: none;

    &:hover {
        border-bottom: 2px solid #f14214;
    }
}

.zhd__main {
    color: #afafaf;
}

.zhd__add {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    color: #afafaf;

    @include bp(600px) {
        display: inline;
    }
}