.blackback {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 220;
    display: none;
}

.upflash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 50px;
    // left: 50%;
    // margin-left: -400px;
    // top: 220px;
    background: #ffffff;
    z-index: 400;
    display: none;
}

// .upflash-bigimage {
//     width: 940px;
//     margin-left: -520px;
// }

.apply-form {
    display: none;
}