.article {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        line-height: 1.23;
        color: #919191;
    }

    h1 {
        font-size: 30px;
        color: #f14214;

        @include bp(600px) {
            font-size: 25px;
        }
    }


    h2 {
        font-size: 20px;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 15px;
    }
}

.potfolio-index-h2 {
    font-family: 'robofanregular';
    font-weight: normal;

    font-size: 30px;
    text-align: center;
    padding: 30px 0 20px 0;
    color: #191919;

    @include bp(600px) {
        font-size: 25px;
    }
}

.alert {
    border: 1px solid #cccccc;
    padding: 20px;
    margin: 10px auto;
}

.alert-danger {
    border: 1px solid #f14214;
}

.blockquote {
    padding: 15px 25px;
    border: 1px solid #dedede;
    font-size: 11px;
    line-height: 20px;
    color: #626262;
}