.aside-header {
    color: #474846;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
    line-height: 20px;
    margin-top: 20px;
}

.aside-block-header {
    margin: 10px auto 5px auto;

}

.aside-block-header a {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #f04113;
    text-decoration: none;

}

.aside-block-list-menu {
    list-style: none;
    padding-left: 20px;
    margin: 5px auto 10px auto;
    line-height: 14px;
}


.aside-block-list-menu li {
    margin-bottom: 5px;
}

.aside-block-list-menu a {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: #808080;
    font-weight: lighter;
    text-decoration: none;
}

.aside-block-list-menu a.cur {
    color: #f04113;
}

.aside-sections {
    list-style: none;
    padding-left: 0;
    margin: 5px auto 10px auto;
    line-height: 14px;
}


.aside-sections li {
    margin-bottom: 15px;
    position: relative;
    padding-right: 30px;
}

.aside-sections a {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #f04113;
    text-decoration: none;
}

.aside-sections .aside-section-count {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #808080;
    font-weight: lighter;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
}