.header {
    position: relative;
    flex-shrink: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f14214;

    @include bp(600px) {
        padding-top: 23px;
    }

    &.vh {
        visibility: hidden;
    }
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-bottom: 10px;

    @include bp(600px) {
        padding-bottom: 0;
    }
}

.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
}


.header__contacts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 7px;

    @include bp(600px) {
        display: none;
    }
}


.header__phones {
    color: #bdbdbd;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.header__social {
    color: #bdbdbd;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.header__social-icon {
    width: 21px;
    height: 21px;
    display: block;
    float: left;
    color: transparent;
    font-size: 0;
    text-indent: -1000px;
    content: "";
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    &--at {
        background: url('/images/icons/icon_soc_at.png');
    }

    &--vk {
        background: url('/images/icons/icon_soc_vk.png');
    }
}

.header__phones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__phone-main,
.header__phone-add {
    span {
        color: #6b6b6b;
    }
}

.header__phone-add {
    @include bp(800px) {
        display: none;
    }
}

.header__nav {
    display: flex;
    justify-content: flex-end;

    @include bp(800px) {
        display: none;
    }
}

.header__mobile-nav {
    display: none;

    @include bp(800px) {
        display: block;
    }
}