.main-nav {
    @include bp(800px) {
        display: none;
    }
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    @include bp(900px) {
        column-gap: 10px;
    }
}

.main-nav ul li a {
    text-decoration: none;
    padding: 5px 0;
    color: #505050;
    font-size: 16px;
    position: relative;
}

.main-nav ul li a.opened::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: 3px;
    border: 9px solid transparent;
    border-bottom: 9px solid #f14214;
}

.main-nav ul li a.cur {
    color: #f14214;
}

.main-nav ul li a:hover {
    color: #f14214;
}