.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .8125rem calc(1rem + 8px);
    white-space: wrap;
}

.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-left: unset;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
}

.user-panel .info {
    display: inline-block;
    padding: 5px 5px 5px 1rem;
}

.destroy-image-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: none;
    padding: 5px;
    margin: 0;
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #007bff;
    border-radius: 3px;
}

.destroy-image-btn:hover {
    color: #0069d9;
}